%p
  %strong= embeddable.prompt
  %br
  %br
  - embeddable.choices.each do |choice|
    %input{:type => "radio", :name => "questions[embeddable__#{embeddable.class.to_s.demodulize.underscore}_#{embeddable.id}]", :value => choice.choice}= choice.choice
  %button= "Check Answer"
