<!DOCTYPE html>
<html>
<head>
  <title>Lightweight</title>
  <%= stylesheet_link_tag    "lightweight/application", :media => "all" %>
  <%= javascript_include_tag "lightweight/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
