%p
  %strong= embeddable.prompt
  - if saveable = Saveable::OpenResponse.find_by_open_response_id(embeddable.id)
    - value = saveable.answer if saveable.answered?
  %textarea{:name => "questions[embeddable__#{embeddable.class.to_s.demodulize.underscore}_#{embeddable.id}]"}
    = value